/*****************************************************
 * generic styling for ALS elements: outer container
 ******************************************************/

.als-container {
	position: relative;
	width: 100%;
	margin: 0px auto;
	z-index: 0;
}

/****************************************
 * viewport styling
 ***************************************/

.als-viewport {
	position: relative;
	overflow: hidden;
	margin: 0px auto;
}

/***************************************************
 * wrapper styling
 **************************************************/

.als-wrapper {
	position: relative;
	/* if you are using a list with <ul> <li> */
	list-style: none;
	padding:0px;
}

/*************************************
 * item: single list element
 ************************************/

.als-item {
	position: relative;
	display: block;
	text-align: center;
	/*cursor: pointer;*/
	float: left;
	width:150px;
	height: 250px;
}

/***********************************************
 * prev, next: buttons styling
 **********************************************/
 
.als-prev, .als-next {
	position: absolute;
	top:125px;
	cursor: pointer;
	clear: both;
}

.als-next {
	right:10px;
}

.als-prev {
	left:10px;
}
/**************************
 * specific als elements
 * styling for #lista1
 **************************/

#list1 {
	margin: 40px auto;
}

#list1 .als-item {
	margin: 0px 5px;
	padding: 4px 0px;
	min-height: 120px;
	min-width: 100px;
	text-align: center;
}

#list1 .als-box{
	width:150px;
	height:225px;
}

#list1 .als-item img {
	display: block;
	margin: 0 auto;
	vertical-align: middle;
}

#list1 .als-prev, #list1 .als-next {
	top: 40px;
}

#list1 .als-prev {
	left: 200px;
}

#list1 .als-next {
	right: 200px;
}
